@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    Subtotal: <h2>@Model.Cart.SubTotal</h2>
    Tax: <h2>@Model.Cart.Tax</h2>
    Total: <h2>@Model.Cart.Total</h2>
</div>
